voila
git+git://github.com/giswqs/geemap.git
# pyproj
# Pillow
# pyshp
# Shapely
# Cython 
# numpy 
# GEOS 
# six
# Cartopy

# numpy==1.15.3
# Cython==0.29

# geos-config
# Shapely==1.6.4.post2
# pyshp==2.0.1
# six==1.11.0
# proj==4.9.0
# GEOS==3.3.3
# Cartopy==0.17.0

pyproj‑3.0.1‑cp38‑cp38‑win_amd64
Pillow‑8.3.0‑cp38‑cp38‑win_amd64
pyshp‑2.1.3‑py3‑none‑any
Shapely‑1.7.1‑cp38‑cp38‑win_amd64
Cartopy‑0.19.0.post1‑cp38‑cp38‑win_amd64